@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: "Roboto";
    background-image: url("images/chocolat.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 20px;
    box-shadow: 5px 5px 5px #555;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}